*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    align-items: center;
}
.navbar{
    height: 60px;
    background-color: white;
    display: flex;
}
.navlogo{
    height: 50px;
    position: relative;
}
.navsearch{
    display:flex;
    width: 300px;
    margin-left: 20px;;
}
.search{
    background-color: rgb(128, 128, 128);
}
.write{
    margin-left: 150px;
    position: relative;
    display: flex;
    background-color:rgba(245, 245, 220, 0.525);
    float: right;
}
.write :hover{
    background-color: rgba(0, 0, 0, 0.142);
}
.Signup{
    background-color: rgb(26, 137, 23);
    position: relative;
    margin-left: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0.05%;
    width:100px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}
.Signup:hover{
    background-color:rgb(0, 128, 0);
}
.Signin{ background-color: white;
    margin-left: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1%;
    text-decoration: none;
    width: 100px;
    display: flex;
    position: relative;
    float: right;
}
.Signin>p:hover{
    background-color: rgba(245, 245, 220, 0.121);
}
.box1{
   float: right;
}
.bold{
    font-size: 3rem;
    font: bold;
    width: 400px;
}
.left{
    text-decoration-color: beige;
    margin-left: 130px;;
    margin-top: 130px ;
}
.Signin a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.write a{
    padding-left: 6px;
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.links{
    font-size: 0.7rem;
    justify-content: space-evenly;
    width: 30%;
    background-color: transparent;
    margin-top: 340px;
    margin-left: 150px;
    position: relative;
    bottom: 50px;   
}

.links a{
    color: rgb(114, 114, 114);
    text-decoration: none;
    position: relative;
    bottom: 50px;
    left: 10px
}
.usericon{
    position: relative;
    margin-right:25px;
    float: right;
}

.body-right{
    width: 800px;
    text-align: left;
    font-family:  'Helvetica-neue', Arial, sans-serif;
    margin-left: 730px;}
    .post_details{
        color: #6B6B6B;
        font-size: 13px;
        margin-bottom: 24px;
      }
      
      .post_title:hover,.post-1-picture:hover,.post_description:hover,.post_details:hover,.icons{
        cursor: pointer;
      }
      
      .icons{
        display: flex
      }
      
      .claps{
        width: 25px;
        height: 25px;
        margin-right: 7px;
        align-items: center;
      
      }
      
      .number-of-claps{
        margin-top: 3px;
        text-align: center;
        margin-right: 25px;
        color: #6B6B6B;
        font-size: 13px;
      }
      
      .chat{
        width: 25px;
        height: 25px;
        margin-right: 7px;
        align-items: center;
      }
      
      .number-of-chats{
        margin-top: 3px;
        color: #6B6B6B;
        text-align: center;
        margin-right: 10rem;
        font-size: 13px;
      }
      
      .bookmark{
        width: 20px;
        height: 20px;
        margin-left: 150px;
      }
      
      .more-icon{
        width: 20px;
        height: 20px;
        margin-left: 25px;
      }
      
      .hr2{
        margin-top: 45px;
        width: 720px;
        margin-right: 75px;
        border: none;
        background-color: #F9F9F9;
        height: 2px;
        margin-bottom: 45px;
        
      }




